/*Index*/
* a:hover{
    text-decoration: none;
}
body{
    margin:0;
    padding: 0;
    background-color: #e6e7e8;
}
/*Encabezado de pagina*/
#encabezado{
    display: flex;
    min-height: 350px;
    background-color: #343a40;
}
/*Buscador*/
#buscador{
    top: 20px;
    display: flex;
    width: 80%;
    min-height: 50px;
    margin: auto;
}
/*Secciones de pagina*/
#secciones{
    display: flex;
    min-height: 580px;
}
#btncomidas{
    min-width: 15%;
}

.modal-body p{
    color: #000;
}


#Restaurante-comedor h1, p, div, hr, button{
    position: relative;
}
/*Formulario Login*/
#form{
    width: 30%;
    margin: auto;
    padding-bottom: 25px;
}
#logo{
    width: 20%;
    height: 50px;
    margin: auto;
    font-size: 60px;
}
/*Scroll*/
#scroll{
    width: 80%;
    min-height: 500px;
    margin: auto;
    overflow-y: scroll;
    overflow-x:unset;
}

.titulo{
    width: 80%;
    display: flex;
    margin: auto;
}
.primero{
    width: 80%;
    text-align: center;
}
.segundo{
    display: table-cell;
    vertical-align: middle
}




/*Pie de pagina*/
#pie{
    display: flex;
    min-height: 250px;
    background-color: #343a40;
    color: #e6e7e8;
    justify-content: center;
    padding: 10px 0 10px 0;
}
#pie-hijo{
    width: 25%;
    min-height: 100%;
    margin-right: 10px;
    border-right: 2px solid #e6e7e8;
    justify-items: center;
}
#pie-hijo-cont{
    width: 90%;
    min-height: 100%;
    margin: auto;
}
#pie-hijo-cont #mapa{
    width: 100%;
    height: 200px;
    margin: auto;
}
#pie-hijo-cont a{
    color: #fff;
}
#pie-hijo-cont h4{
    border-bottom: #e6e7e8 1px solid;
    width: 60%;
}
#pie-hijo-cont p{
    text-align: justify;
}

#pie-hijo:last-child{
    margin-right: 0;
    border-right: 0;
}

#copy{
    background-color: #343a40;
    display: flex;
    justify-content: center;
    color: #e6e7e8;
}
#op:hover{
    color: #343a40;
}

#contnav{
    width: 15%;
    min-height: 697px;
    background-color: #9daab4;

}

#navadmin{
    background-color: #9daab4;

}
#navadmin li{
    background-color: #9daab4;
    transition: .1s;
}

#navadmin li:hover{
    background-color: #343a40;
}

#navadmin li a{
    color: #fff;
    height: 80px;
}
#workspace{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}
/*Portada*/
.container-portada{
    width: 100%;
    height: 673px;
    position: relative;
    background-image: url(../img/portada.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: movimiento 20s infinite linear alternate;
}

/* @keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
         background-position: top right;
     }
} */


.capa-gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000000;
    opacity: 0.5;
}

.container-details{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}


.details{
    width: 100%;
    max-width: 800px;
    position: relative;
    top: 250px;
    color: white;
}

.details h1{
    font-size: 40px;
    font-weight: 100;
    margin-left: 10px;
}

.details p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
}

.details button{
    padding: 10px 20px;
    font-size: 16px;
    background: none;
    border-style: none;
    border: 1px solid white;
    color: white;
    margin-top: 20px;
    transition: background 300ms;
    cursor: pointer;
    margin-left: 10px;
}

.details button:hover{
    background: white;
    color: black;
}


/*Articulo*/
article{
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding-right: 20px;
}

article h1{
    font-size: 40px;
    font-weight: 100;
    margin-left: 10px;
}

article hr{
    max-width: 500px;
    height: 4px;
    border-style: none;
    background: -webkit-linear-gradient(left, black, #0672d0);
    margin-top: 10px;
    margin-left: 10px;
}

article p{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
    margin-left: 10px;
}
#categoria{
    width: 100%;
    min-height: 700px;
    height: 100%;
}
.contenido{
    width: 100%;
    min-height: 620px;
    height: 620px;
    margin-top: 80px;
    overflow-y: scroll;
}
.mini{
    width: 100%;
    min-height: 20px;
    height: 100%;
    background-color: #272727;
}

#promociones{
    width: 100%;
    min-height: 700px;
    height: 100%;
}

.details #logo{
    width: 50%;
    height: 60%;
}

@media screen and (max-width: 500px){
    .details{
        top: 60px;
    }
    .details p{
        font-size: 18px;
    }
    .details #logo{
        width: 50%;
        height: 60%;
    }
    .details #dicho{
        font-size: xx-large;
    }
    .container-portada {
        width: 100%;
        height: 250px;
    }
    .navbar-nav .btn{
        width: 30%;
        height: 100%;
    }
    .navbar #brand{
        width: 40%;
    }
    #mapa{
        width: 100%;
        height: 50%;
    }
    #cont-cart{
        width: 150px;
        padding: 0;
        margin: 0;
        display: block;
    }
    #cont-cart #cart{
        width: 90%;
        height: 90px;
    }

}

/*--------arreglos al navbar-----------*/
.navbar-primary{
    background-color: transparent;
}

::-webkit-scrollbar{
    width: 0px;
}
.contenido-rest{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 29.5rem;
    overflow-y: scroll;
}
#restaurante{
    height: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#menu{
    width: 100%;
    height: 39.4rem;
}
#lista-restaurantes{
    margin: 0;
    padding: 0;
    width: 30%;
    height: 36.9rem;
    background-color: black;
    overflow-y: scroll;
}
#menu-restaurantes{
    height: 36.9rem;
    border-right: 1px rgba(168, 179, 182, 0.8) solid;
}
#cont-platillos{
    width: 100%;
    height: 26rem;
    overflow-y: scroll;
}
#cont-factura{
    width: 100%;
    height: 36.9rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
#cont-recibo{
    width: 100%;
    height: 15rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
#factura{
    margin: 0;
    padding: 0;
    width: 70%;
    height: 36.9rem;
}
#titulo-factura{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#papel{
    width: 90%;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 15px;
    box-shadow: 0px 0px 10px -1px rgba(57, 58, 68, 0.74);
}
