{% load static %}
<div class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-center sticky-top">
    <div class="p-2 flex-grow-1 bd-highlight">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url "admiIndex"%}">
                <img src="{% static 'img/icon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                Food at Home
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">\

            </div>
        </nav>
    </div>
    <div class="p-2 bd-highlight">
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle btn btn-dark border border-light text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon-user"></span> Usuario</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><span class="icon-cogs"></span> Configuración</a>
                    <a class="dropdown-item" href="#"><span class="icon-user-tie"></span> Ayuda</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><span class="icon-exit"></span> Salir</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="p-2 bd-highlight">
        <p style="color: transparent;"> homah</p>
    </div>
</div>
