{% load static %}
<div class="col-2 bg-dark">
    <div class="nav flex-column nav-pills bg-dark" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a href="{% url "gestionUsuarios" %}" class="nav-link text-light" id="v-pills-home-tab"  role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="icon-users"></span> Gestión de Usuarios</a>
        <a class="nav-link text-light" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span class="icon-location"></span> Gestión de Ciudades</a>
        <a class="nav-link text-light" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"> <span class="icon-office"></span> Gestión de Restaurante</a>
    </div>
</div>
