{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
<div class="d-flex justify-content-center">
    <form action="" method="post">
    {% csrf_token %}
    <div class="form-group" id="formulario" >
        {{ new.as_p }}
    </div>

    <input type="submit" value="Enviar Datos" class="btn btn-primary">
</form>
</div>
</body>
</html>