{% load static %}
<!-- willaims -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="../../Index.html">Food at Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link icon-home" href="../../Index.html">   Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle icon-list" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sesión
                </a>
                <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item nav-link icon-enter" href="{% url "login" %}" id="op">   registro</a>
                    <a class="dropdown-item nav-link icon-wrench" href="#" id="op">   Ayuda</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<section id="secciones">
    <form action="{% url "verificar" %}" method="post" id="form">
        {% csrf_token %}
        <div class="form-group">
            <div class="icon-user" id="logo">

            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Correo Electronico o Nombre de Usuario</label>
            <input type="email" class="form-control" name="correo" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese Correo o Nombre de Usuario">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Contaseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="contra" placeholder="Contraseña" autocomplete="off">
        </div>
        <input type="submit" class="btn btn-dark icon-enter" value="Ingresar">
        <a href="crear.html" class="btn btn-dark icon-user-plus">   No tengo una cuenta aun!</a>
    </form>
</section>
<footer id="pie">
    <div id="pie-hijo">
        <div id="pie-hijo-cont">
            <h4><a href="" class="icon-map"></a>    Direccion</h4>
            <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15358.97825969192!2d-86.80696949999998!3d15.7646464!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f69a9dd970b9c43%3A0xd59eb5c763a6cdb7!2sUniversidad+Cat%C3%B3lica+de+Honduras!5e0!3m2!1ses-419!2shn!4v1553818221201!5m2!1ses-419!2shn" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div id="pie-hijo">
        <div id="pie-hijo-cont">
            <h4><a href="" class="icon-library"></a>    Food at Home</h4>
            <br>
            <p>Somos una empresa comprometida con la meta de que tengas tus alimentos favoritos en casa, en el momento en el que lo deseas, justo cuando lo solicites y justo  donde lo solicites, otras empresas pudieron  dejar te un mal sabor de boca pero  Food at Home re</p>
        </div>
    </div>
    <div id="pie-hijo">
        <div id="pie-hijo-cont">
            <h4><a href="" class="icon-address-book"></a>   Contactos</h4>
            <br>
            <p><a href="mailto:foodathome45@gmail.com" class="icon-mail">   foodathome45@gmail.com</a></p>
            <p><a href="" class="icon-whatsapp">   +504 8828-4520</a></p>
            <p><a href="" class="icon-facebook2">   Food at Home</a></p>
            <p><a href="" class="icon-instagram">   @Food_at_Home</a></p>
        </div>
    </div>
</footer>
<div id="copy">
    <p>Food at Home Derechos Reservados &copy; 2019</p>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
