<div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titulo"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                      <div class="modal-body">
                            <form>
                                  <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <label for="identidad">Identidad</label>
                                      <input type="text" class="form-control" id="identidad" placeholder="0101199804392">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="usuario">Nombre de Usuario</label>
                                      <input type="text" class="form-control" id="usuario" placeholder="IvanGodoy24">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="inputNombre">Nombre Completo</label>
                                    <input id="nombre" type="text" class="form-control"  placeholder="Ivan Edgardo Godoy Munguia">
                                  </div>
                                <div class="form-row">
                                  <div class="form-group col-md-4">
                                    <label for="password">Contrseña</label>
                                    <input id="password"  type="text" class="form-control">
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="password">Verificar Contrseña</label>
                                    <input id="password" type="text" class="form-control" >
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputAddress2">telefono</label>
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">+</span>
                                        <span class="input-group-text">504</span>
                                      </div>
                                      <input id="telefono" type="text" class="form-control" placeholder="9454-2903">
                                    </div>
                                  </div>
                                </div>
                                  <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Limpiar</button>
                                        <button type="button" class="btn btn-dark">Guardar</button>
                                  </div>
                            </form>
                      </div>

            </div>
        </div>

        <script>
            $('#modalNewEmpleado').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var usuario = button.data('usuario');
                var nombre = button.data('nombre');
                var id = button.data('id');
                var password = button.data('password');
                var identidad = button.data('identidad');
                var telefono = button.data('telefono');
                var modal = $(this);
                modal.find('.modal-body #usuario').val(usuario);
                modal.find('.modal-body #nombre').val(nombre);
                modal.find('.modal-body #password').val(password);
                modal.find('.modal-body #identidad').val(identidad);
                modal.find('.modal-body #telefono').val(telefono);
                modal.find('.modal-header #titulo').html('Editando los datos del Usuario ' + usuario);
            })
        </script>
