{% extends 'administrador/root.html' %}
{% load static %}

{% block titulo %} Gestión de los Empleados{% endblock %}

{% block workspace %}

    <div class="d-flex flex-column bd-highlight mb-3">
      <div class="p-2 bd-highlight d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
                <h1>Empleados</h1>
            </div>
            <div class="p-2 bd-highlight">

            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-dark" data-toggle="modal"  data-target="#modalNewEmpleado"><span class="icon-plus"></span> Nuevo Empleado</button>
            </div>
      </div>
      <div class="p-2 bd-highlight sticky-top" style="overflow-y: scroll; height: 500px">
          <table class="table table-sm table-dark">
              <thead>
                <tr>

                  <th scope="col">Identidad</th>
                  <th scope="col">Nombre Completo</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Gestión</th>
                </tr>
              </thead>
              <tbody>

                {% for empleado in empleados %}
                <tr>
                  <td></td>
                  <td>Ivan Edgardo Godoy Munguia</td>
                  <td>+504 9454-2903</td>
                  <td><span class="badge badge-light">Activo</span></td>
                  <td>
                      <button type="button" class="btn btn-light" data-toggle="modal"  data-target="#modalNewEmpleado"><span class="icon-pen"></span></button>
                  </td>
                </tr>
                  {% endfor %}

              </tbody>
          </table>
      </div>
    </div>


{#    #modales#}
    <div class="modal fade" id="modalNewEmpleado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        {% block foo %}
        {% include "administrador/modals/modalNewEmpleado.html" %}
        {% endblock %}
    </div>
{% endblock %}
