{% extends 'administrador/root.html' %}
{% load static %}

{% block titulo %} Gestión de los Empleados{% endblock %}

{% block workspace %}

    <div class="d-flex flex-column bd-highlight mb-3">
      <div class="p-2 bd-highlight d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
                <h1>Empleados</h1>
            </div>
            <div class="p-2 bd-highlight">

            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-dark" data-toggle="modal"  data-target="#modalNewEmpleado"><span class="icon-plus"></span> Nuevo Empleado</button>
            </div>
      </div>
      <div class="p-2 bd-highlight sticky-top" style="overflow-y: scroll; height: 500px">
          <table class="table table-sm table-dark">
              <thead>
                <tr>

                  <th scope="col">Identidad</th>
                  <th scope="col">Nombre Completo</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Gestión</th>
                </tr>
              </thead>
              <tbody>
                <!-- williams -->

                {% for empleado in empleados %}
                <tr>
                  <td>{{ empleado.identidad}}</td>
                  <td>{{ empleado.nombre_completo}}</td>
                  <td>{{ empleado.telefono}}</td>
                  {% if empleado.estado == 1 %}
                    <td><span class="badge badge-light"></span>Activo</td>
                  {% else %}
                    <td><span class="badge badge-light"></span>Inactivo</td>
                  {% endif %}
                  <td>{{empleado.usuario}}</td>
                  <td>
                      <a type="button" class="btn btn-light" data-toggle="modal"  data-target="#modalNewEmpleado"
                      data-id="{{empleado.id}}"
                      data-nombre="{{empleado.nombre_completo}}"
                      data-telefono="{{empleado.telefono}}"
                      data-estado="{{empleado.estado}}"
                      data-identidad="{{empleado.identidad}}"
                      data-password="{{empleado.password}}"
                      ><span class="icon-pen"></span></a>
                  </td>
                </tr>
                  {% endfor %}

              </tbody>
          </table>
      </div>
    </div>


{#    #modales#}
    <div class="modal fade" id="modalNewEmpleado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        {% block foo %}
        {% include "administrador/modals/modalNewEmpleado.html" %}
        {% endblock %}
    </div>
{% endblock %}
