{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <link rel="stylesheet" href=" {% static 'css/estilos.css' %}">
    <link rel="shortcut icon" href=" {% static 'img/icon.png' %}">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <title>{% block titulo %}Root{% endblock %}</title>
</head>
<body>
{% block food %}
{% include "administrador/componentes/menuAdmin.html" %}
{% endblock %}
<div class="row" style="height: 625px; padding: 0; margin: 0">
  {% block fooi %}
  {% include "administrador/componentes/opcionesMenu.html" %}
  {% endblock %}
    <div class="col-10 bg-light">
        <div style="height: 610px; width: 100%;">
            {% block workspace %}
            <div id="workspace">
                <p>Este es el index del administrador</p>

            </div>
            {% endblock %}
        </div>
    </div>
</div>

<div class="d-flex justify-content-center bg-dark text-light">
    <p>Food at Home Derechos Reservados &copy; 2019</p>
</div>

<script src=" {% static 'js/popper.min.js' %}"></script>
<script src=" {% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
