{% load static %}
<footer id="pie">
    <div id="pie-hijo">
        <div id="pie-hijo-cont">
            <h4><a href="" class="icon-map"></a>    Direccion</h4>
            <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15358.97825969192!2d-86.80696949999998!3d15.7646464!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f69a9dd970b9c43%3A0xd59eb5c763a6cdb7!2sUniversidad+Cat%C3%B3lica+de+Honduras!5e0!3m2!1ses-419!2shn!4v1553818221201!5m2!1ses-419!2shn" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div id="pie-hijo">
        <div id="pie-hijo-cont">
            <h4><a href="" class="icon-library"></a>    Food at Home</h4>
            <br>
            <p>Somos una empresa comprometida con la meta de que tengas tus alimentos favoritos en casa, en el momento en el que lo deseas, justo cuando lo solicites y justo  donde lo solicites, otras empresas pudieron  dejar te un mal sabor de boca pero  Food at Home re</p>
        </div>
    </div>
    <div id="pie-hijo">
        <div id="pie-hijo-cont">
            <h4><a href="" class="icon-address-book"></a>   Contactos</h4>
            <br>
            <p><a href="mailto:foodathome45@gmail.com" class="icon-mail">   foodathome45@gmail.com</a></p>
            <p><a href="" class="icon-whatsapp">   +504 8828-4520</a></p>
            <p><a href="" class="icon-facebook2">   Food at Home</a></p>
            <p><a href="" class="icon-instagram">   @Food_at_Home</a></p>
        </div>
    </div>
</footer>
<div id="copy">
    <p>Food at Home Derechos Reservados &copy; 2019</p>
</div>
