{% load static %}
<footer id="footer" class="page-footer font-small stylish-color-dark pt-4 bg-dark text-light">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><span class="icon-map"></span> Ubicación</h5>
                <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15358.97825969192!2d-86.80696949999998!3d15.7646464!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f69a9dd970b9c43%3A0xd59eb5c763a6cdb7!2sUniversidad+Cat%C3%B3lica+de+Honduras!5e0!3m2!1ses-419!2shn!4v1553818221201!5m2!1ses-419!2shn" width="100%" height="70%" frameborder="0" style="border:0" allowfullscreen></iframe>


            </div>
            <hr class="clearfix w-100 d-md-none" style="border-color: #fff">

            <div class="col-md-4 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><span class="icon-library"></span> Foot at Home</h5>
                <p style="text-align: justify">Somos una empresa comprometida con la meta de que tengas tus alimentos favoritos en casa, en el momento en el que lo deseas, justo cuando lo solicites y justo  donde lo solicites, otras empresas pudieron  dejar te un mal sabor de boca pero  Food at Home</p>
            </div>
            <hr class="clearfix w-100 d-md-none" style="border-color: #fff">
            <div class="col-md-4 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><span class="icon-book"></span> Contactos</h5>
                <ul class="list-unstyled">
                    <li>
                        <p><a href="mailto:foodathome45@gmail.com" style="text-decoration: none; color: #fff"><span class="icon-mail"></span> foodathome45@gmail.com</a></p>
                    </li>
                    <li>
                        <p><span class="icon-whatsapp"></span> +504 8828-4520</a></p>
                    </li>
                    <li>
                        <p><span class="icon-facebook2"></span> Food at Home</a></p>
                    </li>
                    <li>
                        <p><span class="icon-instagram"></span> @Food_at_Home</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr style="border-color: #fff">
    <div class="footer-copyright text-center py-3">Food at Home Derechos Reservados &copy; 2019
    </div>
</footer>
