{% load static %}
<section id="categoria">
    <div class="d-flex justify-content-center flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight d-flex justify-content-center bg bg-secondary text-light"><h1><strong>Categorías</strong></h1></div>
        <div class="p-2 bd-highlight d-flex justify-content-center">
            <input class="form-control mr-sm-4" style="width: 80%" type="search" placeholder="Buscar" id="buscador" aria-label="Search">
        </div>
        <hr>
    </div>
    <!-- aca muestra las cards -->
    <div class="contenido d-flex flex-wrap d-flex justify-content-center" id="seccion-seccion2">

    </div>
</section>
