{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Food at Home</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}">
</head>
<body>
<div class="container-portada">
    <div class="capa-gradient"></div>
    <div class="container-details">
        <div class="details">
            <img id="logo" src="{% static 'img/fah.png' %}" height="180" width="400">
            <h1 id="dicho"></h1>
        </div>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
    <img id="brand" src="{% static 'img/fah.png' %}" width="10%" height="100%" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" id="cate">Categorías</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="promo">Promociones</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-warning my-3 my-sm-0" type="submit">Iniciar Sesión</button>
            <span style="color: transparent;">-</span>
            <button class="btn btn-outline-light my-3 my-sm-0" type="submit">Registrarse</button>
        </form>
    </div>
</nav>

<section id="categoria">
    <div class="d-flex justify-content-center flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight d-flex justify-content-center bg bg-secondary text-light"><h1><strong>Categorías</strong></h1></div>
        <div class="p-2 bd-highlight d-flex justify-content-center">
            <input class="form-control mr-sm-4" style="width: 80%" type="search" placeholder="Buscar" aria-label="Search">
        </div>
        <hr>
    </div>
    <div class="contenido d-flex flex-wrap d-flex justify-content-center">
        <div class="card" style="width: 18rem; margin: 20px 20px">
            <img src="{% static 'img/icon.png' %}" class="card-img-top rounded-circle">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin: 20px 20px">
            <img src="{% static 'img/icon.png' %}" class="card-img-top rounded-circle">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin: 20px 20px">
            <img src="{% static 'img/icon.png' %}" class="card-img-top rounded-circle">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin: 20px 20px">
            <img src="{% static 'img/icon.png' %}" class="card-img-top rounded-circle">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Go somewhere</a>
            </div>
        </div>
    </div>
</section>
<section id="promociones">
    <div class="d-flex justify-content-center bg bg-secondary text-light">
        <h1><strong>Promociones</strong></h1>
    </div>
    <div class="contenido d-flex flex-wrap d-flex justify-content-center">
        <div class="card" style="width: 18rem; margin: 20px 20px">
            <img src="{% static 'img/icon.png' %}" class="card-img-top rounded-circle">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin: 20px 20px">
            <img src="{% static 'img/icon.png' %}" class="card-img-top rounded-circle">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin: 20px 20px">
            <img src="{% static 'img/icon.png' %}" class="card-img-top rounded-circle">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin: 20px 20px">
            <img src="{% static 'img/icon.png' %}" class="card-img-top rounded-circle">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning">Go somewhere</a>
            </div>
        </div>
    </div>
</section>
<footer id="footer" class="page-footer font-small stylish-color-dark pt-4 bg-dark text-light">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><span class="icon-map"></span> Ubicación</h5>
                <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15358.97825969192!2d-86.80696949999998!3d15.7646464!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f69a9dd970b9c43%3A0xd59eb5c763a6cdb7!2sUniversidad+Cat%C3%B3lica+de+Honduras!5e0!3m2!1ses-419!2shn!4v1553818221201!5m2!1ses-419!2shn" width="100%" height="70%" frameborder="0" style="border:0" allowfullscreen></iframe>


            </div>
            <hr class="clearfix w-100 d-md-none" style="border-color: #fff">

            <div class="col-md-4 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><span class="icon-library"></span> Foot at Home</h5>
                <p style="text-align: justify">Somos una empresa comprometida con la meta de que tengas tus alimentos favoritos en casa, en el momento en el que lo deseas, justo cuando lo solicites y justo  donde lo solicites, otras empresas pudieron  dejar te un mal sabor de boca pero  Food at Home</p>
            </div>
            <hr class="clearfix w-100 d-md-none" style="border-color: #fff">
            <div class="col-md-4 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><span class="icon-book"></span> Contactos</h5>
                <ul class="list-unstyled">
                    <li>
                        <p><a href="mailto:foodathome45@gmail.com" style="text-decoration: none; color: #fff"><span class="icon-mail"></span> foodathome45@gmail.com</a></p>
                    </li>
                    <li>
                        <p><span class="icon-whatsapp"></span> +504 8828-4520</a></p>
                    </li>
                    <li>
                        <p><span class="icon-facebook2"></span> Food at Home</a></p>
                    </li>
                    <li>
                        <p><span class="icon-instagram"></span> @Food_at_Home</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr style="border-color: #fff">
    <div class="footer-copyright text-center py-3">Food at Home Derechos Reservados &copy; 2019
    </div>
</footer>

<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="{% static 'js/popper.min.js' %}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery-latest.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    const config = {
        id: "dicho",
        texto: "Ordena tu comida con unos cuantos clicks!"
    }
    const iniciar = new MaquinaEscribir(config);
    iniciar.iniciarMaquina();
</script>
</body>
</html>