{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  {% block head%}
  {% include "componentes/head.html"%}
  {%endblock%}
</head>
<body>
<!-- este es el block de la portada -->
{% block portada%}
{% include "componentes/portada.html"%}
{%endblock%}
<!-- este es el block del navegador -->
{% block nav%}
{% include "componentes/nav.html"%}
{%endblock%}
<!-- este es el block de la categoria -->
{% block sectionCategoria %}
{% include "componentes/sectionCategoria.html" %}
{% endblock%}
<!-- este es el block de la promociones -->
{% block sectionPromo %}
{% include "componentes/sectionPromo.html" %}
{% endblock%}
<!-- este es el block de los modales -->
{% block modals%}
{% include "componentes/footer.html"%}
{%endblock%}
<!-- este es el block del footer -->
{% block footer%}
{% include "componentes/modals.html"%}
{%endblock%}
<!-- este es el block del script -->
{% block script %}
{% include "componentes/script.html"%}
{%endblock%}

</body>
</html>
