{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  {% block head%}
  {% include "componentes/head.html"%}
  {%endblock%}
</head>
<body>
<!-- este es el block de la portada -->
{% block portada%}
{% include "componentes/portada.html"%}
{%endblock%}
<!-- este es el block del navegador -->
{% block nav%}
{% include "componentes/nav.html"%}
{%endblock%}Los Centros de Cagada tienen diferentes marcas y el máximo voltaje que pueden suministrar es 280 voltios .

<!-- este es el block de la categoria -->

{% block script %}
{% include "componentes/script.html"%}
{%endblock%}

</body>
</html>
