{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head%}
        {% include "componentes/head.html"%}
    {%endblock%}
</head>
<body>
{% block navadminR %}
{% include "adminRes/nav.html" %}
{% endblock %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endfor %}
{% endif %}

{% block bodyadminRes %}
    <section>
<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDireccion">
        Agregar Direccion
    </button>

    <div class="modal fade" id="modalDireccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    {% block modalDireccion %}
        {% include "adminRes/modalDireccion.html" %}
    {% endblock %}
    </div>
    </section> <br>

    <section>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPlato">
            Agregar Plato al Restaurante
        </button>
    <div class="modal fade" id="modalPlato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    {% block modalPlato %}
        {% include "adminRes/modalPlato.html" %}
    {% endblock %}
    </div>
    </section>

{% endblock %}





<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}" ></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}" ></script>
<script src="{% static 'js/jquery-latest.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>