<div class="row justify-content-center">
                        <div class="col-6 col-md-6">Descripción</div>
                        <div class="col-6 col-md-3">Precio</div>
                        <div class="col-6 col-md-3"></div>
                    </div>
                    <hr>
                    <div id="cont-recibo">


                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 col-md-6">Total</div>
                        <div class="col-6 col-md-3" id="totalsuma"></div>
                        <input type="text" hidden name="total" id="total" value="300">
                        <div class="col-6 col-md-1"><input type="submit" class="btn btn-warning text-light" value="Pagar"></div>
                    </div>
</div>
