{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  {% block head%}
  {% include "componentes/head.html"%}
  {%endblock%}
</head>
<body>
<!-- este es el block de la portada -->

<!-- este es el block del navegador -->
{% block navcliente%}
{% include "cliente/navcliente.html"%}
{%endblock%}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endfor %}
{% endif %}
<!-- este es el block de la categoria -->
{% block sectionRestaurantesClientes %}
{% include "cliente/restaurantes.html" %}
{% endblock%}
<!-- este es el block de la promociones -->
<!-- este es el block de los modales -->
{% block modals%}
{% include "componentes/footer.html"%}
{%endblock%}
<!-- este es el block del footer -->
{% block footer%}
{% include "componentes/modals.html"%}
{%endblock%}
<!-- este es el block del script -->
<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}" ></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}" ></script>
<script src="{% static 'js/jquery-latest.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
