{% extends 'cliente/inicio_usuario_cliente.html' %}
{% load static %}
{% block sRes %}
<div class="row">
  <div class="col-2">
    <h7>Otros restaurantes en la misma zona</h7>
    <ul class="nav flex-column">
      {% for c in ciudad %}
      {% for r in res%}
      <li class="nav-item row">
        <!-- <img class="rounded-circle col" src="../../../media/{{r.img}}" style="!import width: 50px; height:10px;" alt=""> -->
        <a class="nav-link col" href="../../menu/{{ r.id }}/{{c.id}}">{{r.nombre}}</a>
      </li>
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% for res in restaurante%}
  <div class="col">
    <div class="card" style="width: 100%; height:700px ">
      <h1>Menu</h1>
      <img src="../../../media/{{res.img}}" class="card-img-top rounded-circle mx-auto d-block" style="width: 200px; height:200px" alt="...">
      <h1>{{res.nombre}}</h1>
      <div class="card-body">
        {% for plato in menu%}
        <div class="conteiner row">
            <h4 class="col-3">{{plato.nombre}}</h4>
            <h6 class="col-4">{{plato.descripcion}}</h6>
            <h4 class="col-2">L.{{plato.precio}}</h4>
          <div class="card col">
        <!-- Hola Willy --->
          </div>
        </div>
        {%endfor%}
      </div>
      <a href="{% url "inicio_usuario" %}">Volver a la pagina principal</a>
    </div>
  </div>
  {%endfor%}
</div>

{% endblock %}
