{% extends 'cliente/inicio_usuario_cliente.html' %}
{% load static %}
{% block sRes %}
<section id="menu">
    <div class="container-fluid">
        <div class="row">
            {% block navPEdido %}
                {% include "cliente/navPedido.html" %}
            {% endblock %}
            {% block sectionREStauranteC %}
                {% include "cliente/sectionrestaurante.html" %}
            {% endblock %}
            {% block sectionPEDidoC %}
                {% include "cliente/sectionPedido.html" %}
            {% endblock %}


        </div>
    </div>
</section>
    <script>
  n =  new Date();
//Año
  y = n.getFullYear();
//Mes
  m = n.getMonth() + 1;
//Día
  d = n.getDate();
  document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
</script>
{% endblock %}
