{% load static %}
<p>
  <a class="btn btn-primary" id="collapsePedi" data-toggle="collapse" href="#collapsePedido" role="button" aria-expanded="false" aria-controls="collapseExample">
    Ver Pedido
  </a>
</p>
<div class="collapse" id="collapsePedido">
  <div class="card card-body">
    <form class="" action="#" method="post">
      <div class="row">
        <div class="form-group col-1">
          <label for="">Fecha</label>
          <h6 id="date"></h6>
        </div>
        <div class="form-group col-1">
          <label for="">Usuario</label>
            {% for user in usuario %}
                <label for="" style="width: 100%">{{ user.nombreUsuario }}</label>
                <input type="text" hidden name="usuario" value="{{ user.id }}">
            {% endfor %}
        </div>
      <div class="form-group col-1">
          <label for="">Total</label>
          <input id="total" name="total" readonly type="text" value="00" style="width: 60%">
          <label for="">Lps</label>
        </div>
        <div class="form-group col">
          <label for="">Tipo de Transporte</label>
          <select class="form-control" id="selectCiudad">
            {% for trans in transporte %}
              <option value="{{ trans.id }}">{{ trans.nombre}}</option>
            {% endfor %}
          </select>
        </div>
      <div class="form-group col">
          <label for="">Elija una direccion</label>
          <select class="form-control" id="selectCiudad">
          {% for user in usuario%}
            {% for dir in direccion %}
                {% if dir.usuario_id == user.id %}
                    <option value="{{ dir.id }}">{{ dir.nombre }} - {{ dir.direccion }}</option>
                {% endif %}
            {% endfor %}
          {% endfor %}
          </select>
        </div>
      </div>
    <div class="row">
        <div class="card card-body" >
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
                </thead>
                <tbody id="a_pedido">

                </tbody>
            </table>
        </div>
    </div>
    </form>
  </div>
</div>
<script>
  n =  new Date();
//Año
  y = n.getFullYear();
//Mes
  m = n.getMonth() + 1;
//Día
  d = n.getDate();
  document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
</script>
